<div class="image">
    <img src="https://img.olx.com.br/images/34/349561308535666.webp" alt="Logo">
</div>
<div class="title">
    <div class="left">
        <h5>Subaru Legacy 2.0 Completo com ar condicionado quebrado</h5>
    </div>
    <div class="right">
        <div class="price">
            R$ 20.000
        </div>
    </div>
</div>

<div class="details">
    <div class="left">
        <div class="info">
            <img src="../../../assets/Images/KM.png" alt="">
            <span>100.000</span>
        </div>

        <div class="info">
            <img src="../../../assets/Images/fuel.png" alt="">
            <span>Gasolina</span>
        </div>
        
        <div class="info">
            <img src="../../../assets/Images/motor.png" alt="">
            <span>2.0</span>
        </div>
        
    </div>
    <div class="center"></div>
    <div class="right">
        <div class="info">
            <img src="../../../assets/Images/pngwing.com.png" alt="">
            <span>2010</span>
        </div>

        <div class="info">
            <img src="../../../assets/Images/gearbox.png" alt="">
            <span>Automatico</span>
        </div>

        <div class="info">
            <img src="../../../assets/Images/pointerMap.jpg" alt="">
            <span>São Paulo</span>
        </div>
    </div>
</div>

<div class="patrocinado">
        Patrocinado
</div>