<div class="image">
    <img src="https://img.olx.com.br/images/64/649526652707095.webp" alt="Logo">
</div>
<div class="title">
    <div class="left">
        <h5>Casa Santa Cruz 2</h5>
    </div>
    <div class="right">
        <div class="price">
            R$ 20.000
        </div>
    </div>
</div>

<div class="details">
    <div class="left">
        <div class="info">
            <img src="../../../assets/Images/casa.png" alt="">
            <span>170m²</span>
        </div>

        <div class="info">
            <img src="../../../assets/Images/garage.png" alt="">
            <span>3</span>
        </div>
        
        <div class="info">
            <img src="../../../assets/Images/pointerMap.jpg" alt="">
            <span>MT</span>
        </div>
        
    </div>
    <div class="center"></div>
    <div class="right">
        <div class="info">
            <img src="../../../assets/Images/Banheiro.png" alt="">
            <span>2</span>
        </div>

        <div class="info">
            <img src="../../../assets/Images/cama.png" alt="">
            <span>3</span>
        </div>

        <div class="info">
            <img src="../../../assets/Images/pointerMap.jpg" alt="">
            <span>Cuiaba</span>
        </div>
    </div>
</div>

<div class="patrocinado">
        Patrocinado
</div>